<h1><%= @guest.name %></h1>
<p><%= @guest.occupation %></p>
<h3>Appears on: </h3>
<ul>
    <% @guest.episodes.each do |episode|%>
        <li><%= link_to "Episode: #{episode.number}, #{episode.date}", episode %></li>
    <% end %>
</ul>
<br>
<%= form_tag episodes_path, method: "GET" do %>
    <%= submit_tag "All Episodes" %>
<% end%>
<%= form_tag guests_path, method: "GET" do %>
    <%= submit_tag "All Guests" %>
<% end%>
<%= form_tag new_appearance_path, method: "GET" do %>
    <%= submit_tag "New Appearance" %>
<% end%>