<h1> Episode: <%= @episode.number %> </h1>

<h3> <%= @episode.date.strftime("%B %d, %Y") %> </h3>

<h3> Guests Appearance </h3>
<ul>
<% @episode.guests.each do |guest| %>
    <li><%= link_to guest.name, guest %></li>
<% end %>
</ul>

<h3> Average Rating: <%= @episode.average_rating %> <h3>

<%= link_to "Create New Appearance", new_rating_path %><br>
<%= link_to "Go Back", episodes_path %>