<h1>Welcome to The Late Show With Stephen Colbert</h1>


<br>
<br>

<h3>Where would you like to go?</h3>
<br>
<%= button_to "See the Episodes List", episodes_path, :method => "get" %>
<%= button_to "See the Guests List", guests_path, :method => "get" %>
<%= button_to "Rate a Guest Appearance", new_appearance_path, :method => "get" %>
<br>
<br>
<br>
<br>

<%= button_to "SUPER SECRET WEBMASTER SKILL TO CREATE A GUEST", new_guest_path, :method => "get" %>
<br>
<%= button_to "SUPER SECRET DIRECTORS SKILL TO CREATE A EPISODE", new_episode_path, :method => "get" %>