<h1>New Apperance!</h1>
<%= form_for @appearance do |f| %>
    <%= f.label "Guest Name:" %>
    <%= f.collection_select :guest, Guest.all, :id, :name%>
    <br>
    <%= f.label "Episode Number:" %>
    <%= f.collection_select :episode, Episode.all, :id, :number %>
    <br>
    <%= f.label "Episode Rating:" %>
    <%= f.number_field :rating %>
    <br>
    <%= f.submit "Create Appearance" %>
<% end%>
<br>
<%= form_tag episodes_path, method: "GET" do %>
    <%= submit_tag "All Episodes" %>
<% end%>
<%= form_tag guests_path, method: "GET" do %>
    <%= submit_tag "All Guests" %>
<% end%>