<h1>New Appearance</h1>
<% if @appearance.errors.any? %>
        <ul>
    <%=  @appearance.errors.full_messages do |error| %>
        <li><%= "#{error}"%></li>
    <% end %>
        </ul>
<% end %>
<%= form_for @appearance do |f| %>
    <%= f.label :rating %>
    <%= f.number_field :rating %><br>
    <%= f.label :guest_id %>
    <%= f.collection_select :guest_id, Guest.all,:id, :name %><br>
    <%= f.label :episode_id %>
    <%= f.collection_select :episode_id, Episode.all, :id, :number%><br>
    <%= f.submit %>
<% end %><br>
<%= link_to "Back to Guests", guests_path %>
<%= link_to "Back to Episodes", episodes_path %>

