<h1> New appearance form </h1>

<%= form_for @appearance do |f| %>

    <%= f.label :guest %>
    <%= f.text_field :guest %>

    <%= f.label :episode %>
    <%= f.text_field :episode %>

    <%= f.label :rating %>
    <%= f.number_field :rating %>


    <%= f.submit %>
<% end %>

