<h1> "Create a New Appearance Here:" </h1>

<%= form_for @appearance do |f| %>
  
  <%= f.label :Guest %>
    <%= f.collection_select :guest_id, Guest.all, :id, :name %>

    <%= f.label :Episode %>
    <%= f.collection_select :episode_id, Episode.all, :id, :number %>

    <%= f.label :Rating %>
    <%= f.number_field :guest_rating%> 

    <%= f.submit %>
 <% end %>